{{!-- {{yield}} --}}


   <h2 {{action 'toggleListDetail'}}>{{test.title}}</h2>

   {{#each test.items as |item|}}
       {{!-- <li>{{item.content}}</li> --}}


       {{!-- reference component for list items, item = item as in each helper |list| --}}
       {{listr-list/items item=item}}

   {{/each}}
